
html, body {
  margin: 0;
  height: 100vh; 
  width: 100vw;  


}
.container-custom {
    background-image: url('/src/images/kayit_bg2.jpg'); 
  
    background-size: 100% 100%;
    background-position: center;  
    background-repeat: no-repeat;        
    background-attachment: fixed; 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%; 
    width: 100%;
    margin-bottom: 0 !important;
    padding-bottom: 0;
  }
  .box-bilgi {
  
    margin-bottom: 0 !important;
    margin-top: 15px !important;
  
    height: 70px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 1); 
    font-family: 'Kanit';
    font-size: 24px;
    line-height: normal;
  }

.box {
    margin-top: 15px !important;

    height: 100vh;
    width: 100vw;  
    background-color: rgb(9, 34, 9, 0.4);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Kanit';
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
 
  }

 
  
  .box-input {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; 
    padding-top: 30px;
  }
  

  .box-input label {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 40%;
    text-align: left; 
  }
  

  .box-input input {
    background-color: lightgray;
    width: 60%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }
  
  .box-input input:focus {
    border-color: #000000;
    background-color: #fff;
  }
  

  .submit-btn {
    margin-top: 30px;
    background-color: rgba(9, 34, 9);
    color: rgb(255, 255, 255);
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: lightgray;
    transform: scale(1.05);
    color: #000000;
  }
  .error-message {
     color: #1f0606;
     font-size: 20px;
     font-style: bold;
     font-family: 'Kanit';
     align-items: center;
     justify-content: center;
  }
